*
{
    padding: 0;
    margin: 0;
    text-align: center;
}


h1{
   background-color: rgb(3, 3, 35); 
   color: white;
   height: 90px;
   text-align: center;
   line-height: 90px;
}

.choice
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover
{
    cursor: pointer;
    background-color: rgb(3, 3, 35);

}


img
{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.choices
{
    display: flex;
    gap: 50px;
    align-self: center;
    justify-content: center;
    margin: 70px;
}

.score-board
{
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 40px;
    gap: 70px;
}

#user-score,#comp-score
{
    font-size: 60px;
}



.msg-conatiner
{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 50px;
}


#msg
{
    background-color: rgb(3, 3, 35);
    padding: 16px;
    color: white;
    font-size: 20px;
    display: inline;
    border-radius: 15px;


}